!!! 5
html(lang="en")
  head
    title Redminator&mdash;hasta la vista&hellip;baby!
    link(rel='stylesheet', href='core/css/inuit.css')
    link(rel='stylesheet', href='css/igloos.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/app.css')
    script(type='text/javascript', src='/js/jquery-1.7.1.js')
    script(type='text/javascript', src='/js/jquery-ui-1.8.17.custom.js')
    script(type='text/javascript', src='/js/underscore.js')
    script(type='text/javascript', src='/js/backbone.js')
    script(type='text/javascript', src='/js/backbone.localstorage.js')
    script(type='text/javascript', src='/js/redminator.js')
  body.wrapper
    h1 Redminator&mdash;terminate your Redmines&hellip;
    #controls.grids
        .grid-12
            input(type='text', placeholder='ur server name')#server-name
            input(type='text', placeholder='ur server url')#server-url
            input(type='button', value='add')#add
    #servers.grids
    script(type='text/template', id='item-template')
        <a href="<%= link %>"><%= title %></a>
    script(id='server-template', type='text/template')
        <div>
        <input type="button" class="refresh" value="refresh" /><input type="button" class="delete" value="delete" /><%= name %>
        </div>
        <div>
        <ul class="items">
        </ul>
        </div>